.date-picker .body .day {
  cursor: pointer;
  transition: all .5s;
}

.date-picker .body .day:hover,
.date-picker .body .day.active {
  background: cornflowerblue;
  border-radius: 50%;
  color: white;
}
